<div class="container mx-auto">
  <h3  class="text-3xl bold">Adnat</h3>
  <p class="">
    A clone of the world's #1 platform for rostering,
    attendance, labour insights and
    workforce success.
  </p>
</div>