<div class="">
  <%= render 'navbar' %>
  <h1 class="pl-8">Adnat</h1>
  <p class="pl-8">
    A clone of the world's #1 platform for rostering,
    attendance, labour insights and
    workforce success.
  </p>
</div>