<% if notice.present? %>
  <div class="bg-orange-100 border-l-4 border-orange-500 text-orange-700 p-4" role="notice">
    <p class="font-bold">Notice</p>
    <p><%= notice %></p>
  </div>
<% end %>

<% if alert.present? %>
<div role="alert">
  <div class="bg-red-500 text-white font-bold rounded-t px-4 py-2">
    Alert
  </div>
  <div class="border border-t-0 border-red-400 rounded-b bg-red-100 px-4 py-3 text-red-700">
    <p><%= alert %></p>
  </div>
</div>
<% end %>
